@import url("https://fonts.googleapis.com/css2?family=Roboto:400,600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}

.btn {
  background-color: #ffdb15;
  color: black;
  box-shadow: 2px 2px 2px #e6c301;
  border-radius: 5px;
  padding: 12px 15px;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.btn:active {
  box-shadow: 0 0 0 #e6c301;
  transform: translate(2px, 2px);
}

nav {
  background-color: #ffdb15;
  display: flex;
  justify-content: center;
  padding: 13px;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin: 0 15px;
}
